@import url(https://fonts.googleapis.com/css?family=Lato|Courgette);

body {
  margin: 0;
  background-color: #ffebe6;
  font-family: Lato, sans-serif;
}

header {
  height: 80px;
  background-color: #ff704d;
  display: flex;
  align-content: center;
  position: sticky;
  top: 0;
}

nav {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: auto;
  height: 65px;
  border-radius: 5px;
  border: solid 1px #b32400;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

ul a{
  display: block;
  text-decoration: none;
  color: #ffebe6;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.5em;
}

ul a:hover {
  color: #b32400;
}

form {
  margin: 1em;
}

iframe {
  width: 600px;
  height: 440px;
}

#logo {
  width: 30%;
  display: flex;
  margin: 5px;
  margin-left: 5%;
}

#logo-txt {
  color: #ffebe6;
  margin: 0;
  font-size: 1.5em;
  font-family: Courgette;
  padding-left: 0.75em;
  padding-top: 0.75em;
  align-self: baseline;
}

#menu {
  margin: 5px;
  margin-right: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

#intro {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-top: 80px;
  align-items: center;
}

#email {
  width: 600px;
  height: 2.5em;
  border: solid 1px #b32400;
  border-radius: 1em;
  padding: 0.4em;
  color: #b32400;
  font-size: 1.2em;
}

#submit {
  width: 200px;
  height: 2.5em;
  border: solid 1px #ff704d;
  border-radius: 1em;
  background-color: #ff704d;
  color: #ffebe6;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

#submit:hover {
  color: #b32400;
}

#youtube {
  text-align: center;
  margin: 4em;
}

.form-div {
  padding: 1em 1em 0 1em;
  text-align: center;
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 1023px) {
    #submit {
      width: 100%;
    }
  }
